<%= form_for @play do |f| %>
<%=@play.positions%>
  <table class="table is-bordered is-primary" style="width: 250px; height: 250px;">
    <thead></thead>
    <tbody>
      <%v=1%>
      <% (1..3).each do |j| %>
        <tr>
          <% (1..3).each do |i| %>
            <td>
            <label class="checkspace">
              <%= f.check_box @play.positions["X"], {:multiple => true,checked:(checked_pos(@play.positions["X"],@play.positions["O"],v))}, v%>
              <%= content_tag :span, class: "checkmark #{checked_player1(@play.positions["X"],v) ? 'xmark' : ''}" do -%><% end -%>
              <%= content_tag :span, class: "checkmark #{checked_player2(@play.positions["O"],v) ? 'omark' : ''}" do -%><% end -%>
            </label>
            <%v=v+1%>
            </td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= content_tag :div, class: "column" do -%>
    <%= content_tag :div, class: "columns is-mobile" do -%>
      <%= content_tag :div, class: "column" do -%>
      <%= f.button "Reset", type: "reset", class:"button is-warning" %>
      <% end -%>
      <%= content_tag :div, class: "column" do -%>
        <%= render partial: "delete", locals: {play: @play} %>
      <% end -%>
    <% end -%>
    <% end -%>
<% end -%>

<%= javascript_pack_tag 'play_show' %>
