<!DOCTYPE html>
<html>
  <head>
    <title>TictacGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'frontend' %>
    <%= include_ember_script_tags :frontend %>
  </head>

  <body>
    <body>
    <div class="tile is-parent">
      <article class="tile is-child notification is-primary ">
        <div class="columns is-centered">
          <p class="title">Tic Tac Toe</p>
        </div>
        <div class="content">
          <section class="section is-large">
            <div class="columns is-centered">
            <%= yield %>
            </div>
          </section>
        </div>
      </article>
    </div>
  </body>
  </body>
</html>
